/* Overall Meme Generator Container */
.meme-generator {
    font-family: "Roboto", sans-serif;
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
}

/* Meme Image Styling */
.meme-generator img {
    height: 430px;
    object-fit: cover;
    margin-top: 20px;
}

/* Button Styling */
.meme-generator .generate-meme-btn {
    padding: 8px 20px;
    border: none;
    border-left: 4px solid darkgray;
    border-right: 4px solid darkgray;
    margin: 24px 0;
    font-size: 20px;
    color: red;
    background: white;
    cursor: pointer;
    transition: all 400ms ease;
}

.meme-generator .generate-meme-btn:hover {
    padding: 8px 36px;
    border-left: 8px solid black;
    border-right: 8px solid black;
    letter-spacing: 3px;
}

/* Container for Input Fields (Align Right) */
.input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Align inputs to the right */
    margin-left: auto; /* Push the input container to the right */
    max-width: 400px;  /* Set a max width for the form */
}



.input-container input[type="file"],
.input-container input[type="text"] {
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
    width:50%;
    box-sizing: border-box; /* Include padding in width calculation */
}



.meme-generator .meme-author {
    margin: 8px;
}
